<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Grocery List</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">All Items <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sprouts">Sprouts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/King Soopers">King Soopers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/safeway">Safeway</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/target">Target</a>
            </li>
        </ul>
        <form id="search" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>


<h3 class="pt-5 pl-5 text-primary">All groceries</h3>
<div class="list-group px-5">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            {{#each groceries}}
            <a href="#" class="list-group-item list-group-item-action">{{item}} from {{store}}</a>
            {{/each}}
        </div>
    </div>
</div>

<h3 class="pt-5 pl-5 text-primary">Add to your list</h3>
<form id="addItem">
    <div class="form-group px-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label for="exampleFormControlInput1">Item</label>
                <input type="text" class="form-control" id="newItem" name="newItem" placeholder="grocery item">
                <div class="form-group">
                    <label for="storeSelect">Select a store</label>
                    <select class="form-control" id="storeSelect" name="store">
                        <option>Sprouts</option>
                        <option>King Soopers</option>
                        <option>Safeway</option>
                        <option>Target</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary ml-5">Submit</button>

</form>


<script type="text/javascript">

    $('.list-group-item').on('click', function (event) {
        $(this).toggleClass('list-group-item-success')

    })



    $('#addItem').on('submit', function (event) {
        event.preventDefault();
        let newItem = {
            item: $("#addItem [name=newItem]").val().trim(),
            store: $("#addItem [name=store]").val().trim()
        };

        // Send the POST req
        $.ajax('/api/add', {
            type: 'POST',
            data: newItem
        }).then(
            function () {
                console.log('reloading...')
                location.reload(true);
            }
        );
    });


    $('#search').on('submit', function (event) {
        event.preventDefault();
        let search = {
            item: $("#search [name=search]").val().trim()
        };

        // Send the POST req
        $.ajax('/api/search', {
            type: 'POST',
            data: search
        }).then(
            function () {
                location.reload(true);
            }
        )
        console.log(search)

    });


</script>